.headertitle {
    font-family: "Roboto", serif;
    color: white;
}

body {
    background-color: rgb(34, 34, 34);
    font-family: "Roboto", serif;
}

.faster {
    font-family: "Roboto", serif;
    color: white;
    font-size: 100px;
}

.fasterp {
    font-family: "Roboto", serif;
    color: white;
    font-size: xx-large;
}

.fasterimg {
    display: block;
    margin-left: auto;
    width: 350px;
    height: 350px;
}

.functionality {
    font-family: "Roboto", serif;
    color: white;
    font-size: 100px;
}

.functionp {
    font-family: "Roboto", serif;
    color: white;
    font-size: xx-large;
}

.download {
    font-family: "Roboto", serif;
    color: white;
    background-color: rgb(43, 68, 235);
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    width: 300px;
    height: 75px;
    border: none;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    font-size: 24px;
}

.download:hover {
    background-color: rgb(75, 96, 227);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    cursor: pointer;
    font-size: 30px;
}


.featuresimg {
    display: block;
    margin-left: auto;
}

.modrinthdownload {
    font-family: "Roboto", serif;
    background-color: rgb(32, 32, 32);
    border-color: chartreuse;
    color: white;
    border-radius: 16px;
    width: 300px;
    height: 75px;
    font-size: 24px;
}

.creaking {
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    width: 400px;
    height: 250px;
    display: block;
    margin-left: auto;
}

.secureimg {
    display: block;
    margin-left: auto;
}


.curseforgedownload {
    font-family: "Roboto", serif;
    background-color: rgb(32, 32, 32);
    border-color: orange;
    color: white;
    border-radius: 16px;
    width: 300px;
    height: 75px;
    font-size: 24px;
}


.chestimg {
    display: block;
    margin-left: auto;
}

.langbutton {
    background-color: white;
    color: rgb(74, 74, 255);
    width: 200px;
    height: 50px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    border-color: rgb(74, 74, 255);
    font-size: 24px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    z-index: -1;
}

.lang-content {
    font-family: "Roboto", serif;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: -1;
}

.lang-content a {
    color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.lang-content a:hover {background-color: #f1f1f1}

.languages:hover .lang-content {
    display: block;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

  .languages:hover .langbutton {
    background-color: #234d94;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.light {
    width: 300px;
    height: 75px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    font-size: 24px;
    border: none;
    background-color: white;
}