.headertitle {
    font-family: "Parkinsans", serif;
    color: white;
}

body {
    background-color: rgb(34, 34, 34);
}

.faster {
    font-family: "Parkinsans", serif;
    color: white;
    font-size: 100px;
}

.fasterp {
    font-family: "Parkinsans", serif;
    color: white;
    font-size: xx-large;
}

.fasterimg {
    display: block;
    margin-left: auto;
    width: 350px;
    height: 350px;
}

.functionality {
    font-family: "Parkinsans", serif;
    color: white;
    font-size: 100px;
}

.functionp {
    font-family: "Parkinsans", serif;
    color: white;
    font-size: xx-large;
}

.download {
    font-family: "Parkinsans", serif;
    color: white;
    background-color: rgb(43, 68, 235);
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    width: 300px;
    height: 75px;
    border: none;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    font-size: 24px;
}

.download:hover {
    background-color: rgb(75, 96, 227);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    cursor: pointer;
    font-size: 30px;
}


.featuresimg {
    display: block;
    margin-left: auto;
}

.modrinthdownload {
    font-family: "Parkinsans", serif;
    background-color: rgb(32, 32, 32);
    border-color: chartreuse;
    color: white;
    border-radius: 16px;
    width: 300px;
    height: 75px;
    font-size: 24px;
}

.creaking {
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    width: 400px;
    height: 250px;
    display: block;
    margin-left: auto;
}

.secureimg {
    display: block;
    margin-left: auto;
}

.curseforgedownload {
    font-family: "Parkinsans", serif;
    background-color: rgb(32, 32, 32);
    border-color: orange;
    color: white;
    border-radius: 16px;
    width: 300px;
    height: 75px;
    font-size: 24px;
}
